html, body {
    background-color: #121314;
    color: white;
}


/*
*
*
*
*                                                                               BUTTONS
*
*
*
*/

.btn {
    color: white;
    border: none;
    border-radius: 7px;

    margin: 5px;

    height: 25px;
    width: auto;

    cursor: pointer;
}

.btn-success {
    background-color: green;
    color: white;
}

.btn-success-disabled {
    background-color: green;
    color: white;

    cursor: not-allowed;
}

.btn-danger {
    background-color: red;
    color: white;
}

.btn-danger-disabled {
    background-color: red;
    color: white;

    cursor: not-allowed;
}

.btn-warning {
    background-color: rgb(255, 235, 54);
    color: black;
}

.btn-warning-disabled {
    background-color: rgb(255, 235, 54);
    color: black;

    cursor: not-allowed;
}

.btn-main {
    background-color: rgb(35, 117, 240);
    color: white;
}

.btn-main-disabled {
    background-color: rgb(35, 117, 240);
    color: white;

    cursor: not-allowed;
}

.btn-sub {
    background-color: grey;
    color: white;
}

.btn-sub-disabled {
    background-color: grey;
    color: white;

    cursor: not-allowed;
}

.btn-black {
    background-color: black;
    color: white;
}

.btn-dark {
    background-color: rgb(43, 43, 43);
    color: white;
}

.btn-white {
    background-color: white;
    color: black;
}

.btn-light {
    background-color: rgb(168, 168, 168)smoke;
    color: black;
}

.btn-disabled {
    background-color: rgba(0, 0, 0, 0.644);
    color: white;

    cursor: not-allowed;

    border: solid 1px white;
}

.btn-red {
    background-color: rgb(185, 57, 57);
    color: white;
}

.btn-blue {
    background-color: rgb(63, 116, 185);
    color: white;
}

.btn-green {
    background-color: rgb(38, 99, 38);
    color: white;
}

.btn-yellow {
    background-color: rgb(255, 208, 78);
    color: black;
}


/* - - - - - - - - - - - - - - - - - - - - OUTLINED BUTTONS - - - - - - - - - - - - - - - - - */


.btn-outline-success {
    background-color: transparent;

    border: solid 2px;
    border-color: green;
}

.btn-outline-success-disabled {
    background-color: transparent;

    cursor: not-allowed;

    border: solid 2px;
    border-color: green;
}

.btn-outline-danger {
    background-color: transparent;
    
    border: solid 2px;
    border-color: red;
}

.btn-outline-danger-disabled {
    background-color: transparent;

    cursor: not-allowed;

    border: solid 2px;
    border-color: red;
}

.btn-outline-warning {
    background-color: transparent;

    border: solid 2px;
    border-color: rgb(255, 235, 54);
}

.btn-outline-warning-disabled {
    background-color: transparent;

    cursor: not-allowed;

    border: solid 2px;
    border-color: rgb(255, 235, 54);
}

.btn-outline-main {
    background-color: transparent;

    border: solid 2px;
    border-color: rgb(35, 117, 240);
}

.btn-outline-main-disabled {
    background-color: transparent;

    cursor: not-allowed;

    border: solid 2px;
    border-color: rgb(35, 117, 240);
}

.btn-outline-sub {
    background-color: transparent;

    border: solid 2px;
    border-color: grey;
}

.btn-outline-sub-disabled {
    background-color: transparent;

    cursor: not-allowed;

    border: solid 2px;
    border-color: grey;
}

.btn-outline-black {
    background-color: transparent;

    border: solid 2px;
    border-color: black;
}

.btn-outline-dark {
    background-color: transparent;

    border: solid 2px;
    border-color: rgb(43, 43, 43);
}

.btn-outline-white {
    background-color: transparent;

    border: solid 2px;
    border-color: white;
}

.btn-outline-light {
    background-color: transparent;

    border: solid 2px;
    border-color: rgb(168, 168, 168);
}

.btn-outline-disabled {
    background-color: transparent;

    cursor: not-allowed;

    border: solid 2px;
    border-color: white;
}

.btn-outline-red {
    background-color: transparent;

    border: solid 2px;
    border-color: rgb(185, 57, 57);
}

.btn-outline-blue {
    background-color: transparent;

    border: solid 2px;
    border-color: rgb(63, 116, 185);
}

.btn-outline-green {
    background-color: transparent;

    border: solid 2px;
    border-color: rgb(38, 99, 38);
}

.btn-outline-yellow {
    background-color: transparent;

    border: solid 2px;
    border-color: rgb(255, 208, 78);
}


/*
*
*
*
*                                                                               TEXT
*
*
*
*/

/* TEXT ==> WHITE */
.txt-white {
    color: white;
    text-decoration: none;
}

/* TEXT ==> GREY */
.txt-grey {
    color: grey;
    text-decoration: none;
}

/* TEXT ==> BLACK */
.txt-black {
    color: black;
    text-decoration: none;
}

/* TEXT ==> BLUE */
.txt-light-blue {
    color: rgb(111, 111, 255);
    text-decoration: none;
}
.txt-dark-blue {
    color: rgb(0, 0, 126);
    text-decoration: none;
}
.txt-blue {
    color: blue;
    text-decoration: none;
}

/* TEXT ==> RED */
.txt-light-red {
    color: rgb(255, 82, 82);
    text-decoration: none;
}
.txt-dark-red {
    color: rgb(107, 0, 0);
    text-decoration: none;
}
.txt-red {
    color: red;
    text-decoration: none;
}

/* TEXT ==> GREEN */
.txt-light-green {
    color: rgb(103, 192, 103);
    text-decoration: none;
}
.txt-dark-green {
    color: rgb(0, 83, 0);
    text-decoration: none;
}
.txt-green {
    color: green;
    text-decoration: none;
}

/* TEXT ==> PINK */
.txt-light-pink {
    color: rgb(243, 116, 226);
    text-decoration: none;
}
.txt-dark-pink {
    color: rgb(126, 32, 113);
    text-decoration: none;
}
.txt-pink {
    color: rgb(240, 58, 215);
    text-decoration: none;
}

/* TEXT ==> PURPLE */
.txt-light-purple {
    color: rgb(202, 78, 202);
    text-decoration: none;
}
.txt-dark-purple {
    color: rgb(92, 0, 92);
    text-decoration: none;
}
.txt-purple {
    color: rgb(161, 1, 161);
    text-decoration: none;
}

/* TEXT ==> YELLOW */
.txt-light-yellow {
    color: rgb(255, 255, 111);
    text-decoration: none;
}
.txt-dark-yellow {
    color: rgb(170, 170, 0);
    text-decoration: none;
}
.txt-yellow {
    color: yellow;
    text-decoration: none;
}

/* TEXT ==> YELLOW */
.txt-light-orange {
    color: rgb(255, 194, 81);
    text-decoration: none;
}
.txt-dark-orange {
    color: rgb(134, 87, 0);
    text-decoration: none;
}
.txt-orange {
    color: orange;
    text-decoration: none;
}


/*
*
*
*
*                                                                               LINKS
*
*
*
*/

.link-main {
    color: rgb(35, 117, 240);
    text-decoration: underline;

    cursor: pointer;
}
.link-sub {
    color: rgb(95, 95, 95);
    text-decoration: underline;

    cursor: pointer;
}
.link-important {
    color: rgb(255, 227, 66);
    text-decoration: underline;

    cursor: pointer;
}
.link-disabled {
    color: grey;
    text-decoration: underline;

    cursor: not-allowed;
}


/*
 *
 *
 *
 *                                                                               COLORS
 *
 *
 *
 */

.clr {
    text-decoration: none;
}

.blue {
    color: blue;
}
.red {
    color: red;
}
.green {
    color: green;
}
.yellow {
    color: yellow;
}
.orange {
    color: orange;
}
.grey {
    color: grey;
}
.black {
    color: black;
}
.white {
    color: white;
}
.dark {
    color: rgb(24, 24, 24);
}
.purple {
    color: purple;
}
.pink {
    color: rgb(226, 118, 136);
}


/* LIGHT COLORS */
.light-blue {
    color: rgb(67, 116, 189);
}
.light-red {
    color: rgb(255, 86, 86);
}
.light-green {
    color: rgb(96, 212, 96);
}
.light-yellow {
    color: rgb(255, 255, 79);
}
.light-orange {
    color: rgb(255, 190, 70);
}
.light-grey {
    color: rgb(189, 189, 189);
}
.light-purple {
    color: rgb(160, 62, 160);
}
.light-pink {
    color: pink;
}


/* DARK COLORS */
.dark-blue {
    color: rgb(27, 75, 138);
}
.dark-red {
    color: rgb(129, 25, 25);
}
.dark-green {
    color: rgb(0, 80, 0);
}
.dark-yellow {
    color: rgb(180, 180, 43);
}
.dark-orange {
    color: rgb(185, 121, 0);
}
.dark-grey {
    color: rgb(80, 80, 80);
}
.dark-purple {
    color: rgb(88, 0, 88);
}
.dark-pink {
    color: rgb(173, 103, 115);
}